*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.main{
    width: 336px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    /* overflow: hidden; */
   
}
header{
    background-color: #FFDC40;
    width: 336px;
    height: 28px;
    margin-bottom: 17px;
}
.context{
    padding-left: 28px;
    padding-right: 22px;
   
}
.head h3{
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}
.sort_icon img{
    width: 25px;
    height: 15px;
    margin-bottom: 12px;
}
.sort_icon{
    text-align: right;
    height: 39px;

}
.to_do_list{
    height: auto;
    width: 286px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    padding: 12px 30px 12px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.task , .task1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task1 input{
    width: 100%;
    border: none;
}
.task p{
    display: inline;
}
.task1 input:hover{
    border: 1px solid #C4C4C4;
}
.task img, .task1 img{
    
    height: 20px;
    width: 20px;

}
.button{
    position: relative;
    width: 150px;
    
}
.button button{
    width: 100%;
    position: absolute;
    height: 42px;
    background: #833AE0;
    border-radius: 71px;
    border: none;
    color: white;
  
  
}
.plus_item{
    background-color: #9953F1;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
   justify-content: center;
}
.plus_item span{
    font-size: 14px;
    color: white;
}
