*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 336px;
    height: 397px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
}
header{
    background-color: #FFDC40;
    width: 336px;
    height: 28px;
}